* {
    font-family: "Lato", sans-serif;
    color: #291f1a;
    font-weight: 300;
}

body {
    
    
}

ul#lista > li {
    list-style: none;
    display: inline-block;
    
    
}

#menu {
    background-color: #ffffff;
    
    color: #1ac056;
    font-weight: 300;
    width: 100%;
    
    }
nav {
    
    text-align: right;
    position: fixed;
    
}

a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
a:hover {
    color: #291f1a;
}
header {
    background-size: cover;
    background-position: center;
}

#mainheadercontent {
    padding: 30vh%
}
