* {
    font-family: "Lato", sans-serif;
    color: dimgrey;
    font-weight: 300;
}



h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

h2 {
    color: white;
  text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;

}

#naglowekh2 {
    color: dimgrey;
}


ul#lista > li {
    list-style: none;
    display: inline-block;
}

#menu {
    background-color: #ffffff;
    color: #1ac056;
    font-weight: 300;
    width: 100%;
}

nav {
    text-align: right;
    position: fixed;
    top: 0;
}

nav > ul > li > a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover {
    color: deeppink;
}

header#main-header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

header#main-header .main-header-content {
    padding: 30vh;
    
}


#about {
    padding: 0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
}






.blok {
    display: inline-block;
    
}

figcaption {
    text-align: center;
}


}
.omnie {
    position: absolute;
    float: right;
    
}
span {
    color: lawngreen;
}
#skillsicons {
    position: absolute;
    width: 100%;
        
}

#skills {
    position: relative;
    
}

#about {
    width: 90%;
}

#zdjecieomnie {
    width: 45%;
    object-position: center;
    
}

 article {
    width: 45%;
    display: inline-block;
    margin: 30;
}
#zdjecieoomnie {
    width: 45%;
    display: inline-block;
    margin: 30;
    
}
#naglowekumiejetnosci, #naglowekkontakt {
    color: dimgrey;
}


